body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

.card {
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 50%; /* Mengatur lebar card menjadi setengah halaman */
    max-width: 600px; /* Memberikan batas maksimal lebar card */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card h2 {
    margin-bottom: 30px;
    font-size: 50px;
    color: #1a4675; /* Mengubah warna judul menjadi biru */
}

.form-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card textarea {
    width: 80%; /* Mengatur textarea menjadi 80% dari lebar form-container */
    height: 150px; /* Membuat textarea lebih tinggi */
    padding: 15px; /* Memperbesar padding */
    margin-bottom: 30px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 18px; /* Memperbesar ukuran font */
    resize: vertical; /* Memungkinkan pengguna untuk mengubah ukuran vertikal */
}

.card button {
    padding: 15px 30px;
    background-color: #1a4675; /* Mengubah warna tombol menjadi biru */
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px; /* Memperbesar ukuran font */
}

.card button:hover {
    background-color: #1a4675; /* Mengubah warna tombol saat dihover menjadi biru tua */
}
