<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Analisis Kepuasan Pelanggan</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>


    <header class="fixed top-0 bg-white w-full flex items-center h-16 shadow justify-between px-20 ">
        <h2 class="font-bold text-3xl">Analisis Kepuasan Pelanggan Aplikasi KAI</h2>
        <nav class="">
            <ul class= space-y-10">
               
                <span><a class="text-sky-800 font-semibold" href="/">Scrape</a></span>
            </ul>
        </nav>
    </header>
    <div class="card mt-12">
        <h2>Acess By KAI</h2>
        <div class="my-2">
            <h1>Analisis Kepuasan Pelanggan Aplikasi KAI</h1>
            <form class="py-8" action="/predict_comment" method="post">
                <textarea name="komentar" rows="4" cols="50"
                    placeholder="Masukkan komentar Anda di sini"></textarea><br><br>
                <button type="submit">Submit</button>
            </form>
            {% if prediction %}
            <span>Prediksi: {{ prediction }}</span>
            <br>
            <span>Komentar: {{ komentar }}</span>
            {% elif error %}
            <p>{{ error }}</p>
            {% endif %}
        </div>


        </h1>
    </div>

</body>

</html>